# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
anos = [1920,1940,1960,1980,2000,2020]

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
clima = pd.Series(dic_temperaturas)

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [9]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
numeros = pd.DataFrame(arr)
numeros

             0           1           2
0   101.889744   86.761887   88.045746
1    96.339310   86.949895   96.331846
2   102.592482  100.269353   95.313722
3    93.610503   94.627011  111.128371
4   118.136805  112.020313   94.305256
5   103.115734   98.665918   97.037762
6    94.830973  108.341579   85.500897
7    97.216454   95.938978   95.988937
8    80.168840   87.583073   92.667095
9   106.553466  109.219474   77.986352
10  117.584088  102.400175   78.359620
11  102.347061  109.297914  108.407731
12   91.001103  108.685877  113.556883
13  105.861976  111.787657   88.217236
14   97.401295  101.405576  103.126071
15   98.543096   90.587788   87.359531
16  109.323232  110.898187   86.559011
17   85.270985  114.446983   97.828363
18   89.750836   94.577443   87.078023
19   90.613804   84.540510  101.009110

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [28]:
indice = [*range(1,21,1)]
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
numeros = pd.DataFrame(arr,indice, columns=['x1','x2','x3'])
numeros

            x1          x2          x3
1   111.953445   96.682572   99.831906
2   103.727809   81.006930   98.872120
3   105.008488  109.253426   97.738598
4   101.475512   86.500890   85.243972
5    80.126335  109.463608  101.493116
6    99.019200  100.280337   80.613391
7    85.268499   84.858616  109.791595
8   105.452141  102.743464   69.690895
9   105.500744   95.222837  102.204213
10   80.862282   91.425722  106.451293
11   82.941202  113.359019  111.568188
12  118.634097  106.040999   99.128805
13   98.989633   93.008577  101.140791
14  128.751048   92.011773   91.346475
15  105.288074   92.935927  110.165277
16   95.317883   97.502679  111.252423
17  108.223006  110.541450  105.661545
18  100.826942   95.132142  104.873683
19   92.728280  100.454169   91.967671
20   99.868818  102.827085   97.964577

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [29]:
numeros['media'] = (numeros['x1']+numeros['x2']+numeros['x3'])/3

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [36]:
numeros['log_med'] = np.log(numeros['media'])

In [37]:
numeros

            x1          x2          x3       media   log_med
1   111.953445   96.682572   99.831906  102.822641  4.633006
2   103.727809   81.006930   98.872120   94.535620  4.548977
3   105.008488  109.253426   97.738598  104.000171  4.644393
4   101.475512   86.500890   85.243972   91.073458  4.511666
5    80.126335  109.463608  101.493116   97.027686  4.574996
6    99.019200  100.280337   80.613391   93.304309  4.535866
7    85.268499   84.858616  109.791595   93.306236  4.535887
8   105.452141  102.743464   69.690895   92.628834  4.528600
9   105.500744   95.222837  102.204213  100.975931  4.614882
10   80.862282   91.425722  106.451293   92.913099  4.531665
11   82.941202  113.359019  111.568188  102.622803  4.631060
12  118.634097  106.040999   99.128805  107.934634  4.681526
13   98.989633   93.008577  101.140791   97.713000  4.582035
14  128.751048   92.011773   91.346475  104.036432  4.644741
15  105.288074   92.935927  110.165277  102.796426  4.632751
16   95.317883   97.502679  111.252423  101.357662  4.618655
17  108.223006  110.541450  105.661545  108.142000  4.683445
18  100.826942   95.132142  104.873683  100.277589  4.607942
19   92.728280  100.454169   91.967671   95.050040  4.554403
20   99.868818  102.827085   97.964577  100.220160  4.607369